<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Kuzman_OrderHistory>
            <version>0.0.1</version>
        </Kuzman_OrderHistory>
    </modules>
    <global>
        <blocks>
            <kuzmanorders>
                <class>Kuzman_OrderHistory_Block</class>
            </kuzmanorders>
            <sales>
                <rewrite>
                    <order_history>Kuzman_OrderHistory_Block_Order_History</order_history>
                </rewrite>
            </sales>
        </blocks>
        <helpers>
            <kuzmanorders>
                <class>Kuzman_OrderHistory_Helper</class>
            </kuzmanorders>
        </helpers>
        <models>
            <kuzmanorders>
                <class>Kuzman_OrderHistory_Model</class>
                <resourceModel>kuzmanorders_resource</resourceModel>
            </kuzmanorders>
            <kuzmanorders_resource>
                <class>Kuzman_OrderHistory_Model_Resource</class>
                <entities>
                    <order>
                        <table>sales_flat_kuzman_order</table>
                    </order>
                    <order_item>
                        <table>sales_flat_kuzman_order_item</table>
                    </order_item>
                </entities>
            </kuzmanorders_resource>
        </models>
        <resources>
             <kuzmanorders_setup>
                <setup>
                    <module>Kuzman_OrderHistory</module>
                    <class>Kuzman_OrderHistory_Model_Resource_Setup</class>
                </setup>
            </kuzmanorders_setup>
        </resources>
    </global>
     <frontend>
        <routers>
            <sales>
                <args>
                    <modules>
                        <kuzmanorders before="Sales_Order">Kuzman_OrderHistory</kuzmanorders>
                    </modules>
                </args>
            </sales>
        </routers>
        <layout>
            <updates>
                <kuzmanorders>
                    <file>kuzmanorders/update.xml</file>
                </kuzmanorders>
            </updates>
        </layout>
        <translate>
            <modules>
                <Kuzman_OrderHistory>
                    <files>
                        <default>Kuzman_OrderHistory.csv</default>
                    </files>
                </Kuzman_OrderHistory>
            </modules>
        </translate>
    </frontend>
</config>